*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 9px 9px 10px whitesmoke;
}

.skillsMainContent{
    background-color: grey;
    color: rgb(240, 243, 245);
    border: 1px solid rgb(245, 238, 238);
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
    max-width: 900px;
    height: fit-content;
}

.skillsContent{
    padding: 10px;
    margin: 10px;
    color: white;
}

.contentDiv{
    display: flex;
    transition: 0.3s ease-in-out;
    align-items: center;

}

.contentDiv:hover{
    transform: scale(1.1);
}

.skillsImg{
    border-radius: 20px;
    max-width: 50px;
    height: 40px;
    margin: 10px;
}

h2{
    font-size: 3rem;
    text-decoration: underline;
}

p{
    font-size: 2rem;
    margin: 10px;
}

.skillAchieved{
    background-color: green;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid black;

}

.skillNotAchieved{
    background-color: rgb(242, 246, 242);
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid black;

}

  /* Responsive */
  @media (max-width: 768px) {
    .bodySection h1 {
      font-size: 2.8rem;
    }
  
    .contactConnect h2 {
      font-size: 2rem;
    }
  }
